name: Build Plugin DLL

on:
  push:
    branches: [ "main", "development" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Restore Dependencies
        run: nuget restore SpeedCapRemover.sln
        continue-on-error: true

      - name: Build DLL
        run: |
          csc /target:library /out:SpeedCapRemover.dll SpeedCapRemover.cs

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Compiled-DLL
          path: SpeedCapRemover.dll
